//-
	@version 2.0.0
	@author Ganna Shmatova
	This is the login page, which allows users to login to the website.

doctype html
html(lang='en')
	head
		//- 'head' contains the template metadata, css, and scripts to be used on all pages
		include tpl/head
		script(src='js/util/formHelpers.js')
		script(src='js/login.js')
		script(src='https://www.google.com/recaptcha/api.js')
	body
		script(type='text/javascript').
			var loc = !{loc[page]? JSON.stringify(loc[page]): undefined}; //load javascript localizations if they exist for this page
			loc.global = !{JSON.stringify(loc['global'])}; //global/error localizations
		#wrapper
			br
			br
			#licenseWarning.hidden.red.text-center
				p#days
				| #{loc[page].daysLeft}
			hr
			br
			.col-xs-12.verticalMargins.vertical-padding-large.center-block.unfloat.max-width-900
				.panel.panel-primary
					.panel-heading
						h3.panel-title
							span.glyphicon.glyphicon-log-in
							|  #{name}
					.panel-body
						.col-sm-5.large-padding.hidden-xs
							#big_logo.col-xs-12.max-width-300
						.col-sm-6.col-xs-12
							form#loginForm.center-block.unfloat.max-width-400.vertical-padding-large
								.col-xs-11.small-padding
									.row.verticalMargins
										input#username.form-control(placeholder='Username', type='text', name='username').required
									.row.verticalMargins
										input#password.form-control(placeholder='Password', type='password', name='password').required
								if captcha
									div(style="padding:6rem; display: none;" data-sitekey="#{captcha}").g-recaptcha
								.row.verticalMargins
									input(type='submit', value='#{loc[page].signIn}').btn.btn-default.btn-primary.col-xs-offset-2.col-xs-7.col-sm-offset-7.col-sm-4
								.row.verticalMargins
									#errorSpace.red.col-xs-11.text-left
			br
			hr

			#push
		include tpl/footer

