//-
	@version 1.0.0
	@author Erika Bourque (2017)
	@author Jacob Brooker (2017)
	@author Frank Birikundavyi (2017)
	@author Jeegna Patel (2017)

extends tpl/master_template

block appendHead
	link(rel='stylesheet', href='js/jquery/dataTables/dataTables.bootstrap.css')
	link(rel='stylesheet', href='js/jquery/dataTables/dataTables.responsive.css')
	script(src='js/jquery/jquery-ui-test/jquery-ui-1.10.4.custom.min.js')
	script(src='js/bootstrap/bootstrap.js')
	script(src='js/growl/jquery.growl.js')

	//- Local stylesheets
	link(rel='stylesheet', href='css/animation.css')
	link(rel='stylesheet', href='css/qa_component_grouping_overlay.css')
	link(rel='stylesheet', href='css/qa_component_viewer.css')
	link(rel='stylesheet', href='css/autocomplete.css')
	link(rel='stylesheet', href='css/jquery.growl.css')

	//- Local scripts
	script(src='js/qa_selector_area.js')
	script(src='js/qa_component_viewer.js')
	script(src='js/qa_component_details.js')
	script(src='js/qa_component_sql_builder.js')
	script(src='js/qa_component_grouping_overlay.js')
	script(src='js/qa_component_viewer_util.js')

block content
	br
	br
	br
	br
	#topPanel.panel.panel-primary.sideMargins
		.panel-heading
			span.fa.fa-ticket
			span
				|  #{loc.qa_component_details.component}
		.panel-body
			//- Component viewer/selector
			.col-md-4
				include qa_component_viewer

			//- Component creator/editor
			.col-md-8
				.panel.panel-default.sideMargins
					.panel-heading
						span
							|  #{loc.qa_component_details.createeditcomp}
					.panel-body
						#animation-layer(hidden)
							span.glyphicon.glyphicon-refresh.animate-spin.text-center
						#form-layer
							form#component-form
								#details
									.form-group
										label(for='comp-name') #{loc.qa_component_details.name}
										input(required)#comp-name.form-control
									.form-group
										label(for='comp-description') #{loc.qa_component_details.description}
										input(required)#comp-description.form-control
									.form-group
										label(for='comp-category')#category-label #{loc.qa_component_details.category}
										input(required)#comp-category.form-control
									.form-group
										label(for='comp-author') #{loc.qa_component_details.author}
										input(value="#{Username}" disabled='true')#comp-author.form-control
										input(value="#{Username}", hidden)#comp-updated-by
									.form-group
										label(for='comp-type')#type-label #{loc.qa_component_details.type}
										select(required)#comp-type.form-control
								#sql-builder
									.form-group
										label(for='sql') #{loc.qa_component_details.sqlLabel}
										textarea#sql.form-control(rows='5', placeholder='#{loc.qa_component_details.sqlPlaceholder}', name='sql')
								#buttons
									button#save(disabled='true').btn.btn-default.sideMargins #{loc.qa_component_details.save}
									button#test.btn.btn-default.sideMargins.pull-right #{loc.qa_component_details.test}
			include qa_component_grouping_overlay